<div class="table-container table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          @if(permisionON){
            <th class="text-center" scope="col">Actions</th>
          }
          
        </tr>
      </thead>
      <tbody>
        @for (item of categoryList; track item.id) {

        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          
          @if(permisionON){
            <td>
                <div class="d-flex justify-content-evenly align-items-center">
                  <button type="button"  class="btn btn-secondary" (click)="showCategoryModal(item,modalForm)">
                    <i class="fa-solid fa-eye white"
                    ></i>
                  </button> 
                  <button type="button"  class="btn btn-danger" (click)="deleteCate(item.id!)">
                    <i class="fa-solid fa-trash white"
                    ></i>
                  </button>
                </div>
              </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
  <app-modal #modalForm>
    <app-category-form (callParentEvent)="onFormCallEvent($event)" 
    [title]="'Update Category'"
    [category]="currentCategory"></app-category-form>
  </app-modal>